.com-header
{
    justify-content: space-around;
    background-color: #ffffff00;
    backdrop-filter: blur(30px);
}

.com-h
{
    width: 100%;
    text-align: center;
    padding: .5rem;
    transition: all .3s;
}

.com-h:nth-child(2) /**ADD COMMENT*/
{
    cursor: pointer;
    color: var(--primary);
}

.com-h:nth-child(2):hover
{
    color: var(--secondary);
}

.comments-div
{
    border-top: 3px #ccc solid;
    border-radius: 12px 12px 0 0;
    padding: .5rem;
    overflow-y: hidden;
    height: 400px;
}

.comms-area
{
    height: 300px;
    overflow-y: scroll;
}
.comments-div .comment
{
    margin: .8rem;
    border:#ccc 1px solid;
    border-radius: 5px;
}

.no-comments
{
    height: max-content !important;
}

.post-snapshot
{
    overflow: hidden;
    max-height: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1rem;
    width: 100%;
}